/* .form {
  container-name: search;
  container-type: inline-size;
}

@container search  (width< 810px) {
  .form__input,
  .form__select {
    padding: 0;
  }

  .form__input.input-sm {
    flex: 0.75;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }
}
@container search  (width< 810px) {
}

@container search (width< 600px) {
  .icon {
    display: none;
  }

  div.form__input {
    flex: 0.3;
  }

  div.form__date {
    flex: 0.5;
  }

  div.form__date .date-text {
    left: 0;
    margin-left: 1rem;
  }

  .form__btn {
    flex: 0.5;
  }

  div.form__input:has(.form__select) {
    flex: 0.8;
  }
}

@container search (width< 455px) {
  .form__input input::placeholder {
    font-size: 1rem;
  }

  div.form__input {
    padding: 0.4rem;
  }

  div.form__date .date-text {
    font-size: 1rem;
  }

  .form__input select {
    font-size: 1rem;
  }

  button.form__btn {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
} */
