@import '/src/global.css';

.btn-blue {
  @apply bg-blue-500  text-white font-bold py-2 px-4 rounded;
}

.auth__err {
  @apply inline-block mt-3 text-red-500 text-lg sm:text-xl;
}

.container-c {
  @apply relative mx-auto;
  width: 90%;
  z-index: 4;

  @media screen and (width <66.25em) {
    width: 95%;
  }
}

.container-white {
  @apply bg-white;
}

.container-grey {
  background-color: #f4f4f4;
  margin: 0 auto;
}

.checkout__heading--container {
  @apply flex gap-4 items-center py-3 px-5;
  border-radius: 6px 6px 0px 0px;
  background: var(--Blue-1, #2f80ed);
}

.room__details {
  @apply text-white text-2xl leading-9 tracking-wide font-medium;
}

.card-label {
  @apply text-xl font-medium leading-7 tracking-wide inline-block h-fit;
  color: #181818;
}

.blue__btn {
  @apply text-white text-xl font-medium tracking-wide leading-6 px-7 py-4 bg-blue-500 rounded-md w-fit hover:bg-blue-600;
  align-self: end;
}

/* Loading Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d3d3d3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
