@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'YourFontName';
  src:
    url('assets/fonts/SFPRODISPLAYREGULAR.OTF') format('woff2'),
    /* Format for modern browsers */ url('assets/fonts/SFPRODISPLAYREGULAR.OTF') format('woff'); /* Format for older browsers */
  /* Add more src declarations for other font formats if needed */
}

.btn-blue {
  @apply bg-blue-500  text-white font-bold py-2 px-4 rounded;
}

.auth__err {
  @apply inline-block mt-3 text-red-500 text-xl;
}

.container {
  @apply relative mx-auto;
  width: 90%;
  z-index: 4;
}

.container-white {
  @apply bg-white;
}

.container-grey {
  background-color: #f4f4f4;
  margin: 0 auto;
}

.checkout__heading--container {
  @apply flex gap-4 items-center py-3 px-5;
  border-radius: 6px 6px 0px 0px;
  background: var(--Blue-1, #2f80ed);
}

.room__details {
  @apply text-white text-2xl leading-9 tracking-wide font-medium;
}

.card-label {
  @apply text-xl font-medium leading-7 tracking-wide inline-block h-fit;

  color: #181818;
}

.blue__btn {
  @apply text-white text-xl font-medium tracking-wide leading-6 px-7 py-4 bg-blue-500 rounded-md w-fit hover:bg-blue-600;
  align-self: end;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'SF Pro Display Regular', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

a {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

*:disabled {
  opacity: 0.7;
}
